article.post {
  section.content {
    figure {
      min-height: 300px;
      @media screen and (max-width: $tablet) {
        min-height: 250px;
      }
      @media screen and (max-width: $phone) {
        min-height: 200px;
      }
    }
    div#slider {
      div.glide__arrows {
        button.glide__arrow { 
          border: none;
	  box-shadow: none;
          padding: 0;
	  text-shadow: none;
	  svg {
	    fill : lighten(#2d51a3, 5%);
	    width: auto;
	    &:hover {
              fill: #2d51a3;
            }
          }
        }
      }
    }
  }
}
