@import 'fonts';
@import 'variables';
@import 'extends';
@import 'reset';

body {
  grid-gap: 40px 0;
  grid-template-columns: auto;
  grid-template-rows: minmax(1em, 1fr) repeat(2, auto) minmax(1em, 1fr);
  height: 100vh;
  margin: auto;
  padding: 0 20px;
  svg#logo {
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
    grid-row: 2/3;
  }
  h1 {
    color: $link;
    font-size: 50px;
    text-align: center;
    grid-row: 3/4;
  }
}