@font-face {
	font-family: LatoSubset;
	src: local(lato-optimized),
	     local(lato-optimized),
	     url('/font-lato/lato-optimized.woff2') format('woff2'),
			 url('/font-lato/lato-optimized.woff') format('woff');
	unicode-range: U+65-U+90, U+97-122;
}
@font-face {
	font-family: Lato;
	src: local(lato-regular-webfont),
	     local(lato-regular-webfont),
	     url('/font-lato/lato-regular-webfont.woff2') format('woff2'),
			 url('/font-lato/lato-regular-webfont.woff') format('woff');
	font-display: swap;
}
@font-face {
	font-family: Lato;
	src: local(lato-bold-webfont),
	     local(lato-bold-webfont),
	     url('/font-lato/lato-bold-webfont.woff2') format('woff2'),
			 url('/font-lato/lato-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: Lato;
	src: local(lato-italic-webfont),
	     local(lato-italic-webfont),
	     url('/font-lato/lato-italic-webfont.woff2') format('woff2'),
			 url('/font-lato/lato-italic-webfont.woff') format('woff');
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: Lato;
	src: local(lato-bolditalic-webfont),
	     local(lato-bolditalic-webfont),
	     url('/font-lato/lato-bolditalic-webfont.woff2') format('woff2'),
			 url('/font-lato/lato-bolditalic-webfont.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
body {  font-family: sans-serif;}.fonts-loaded-1 body {  font-family: 'LatoSubset';}.fonts-loaded-2 body {  font-family: 'Lato';}