body {
  // Responsive Grid layout
  grid-gap: 15px 0;
  grid-template-rows: 87px repeat(2, auto);
  grid-template-columns:
    [full-start] minmax(15px, 1fr) 
    [main-start] minmax(0, 700px) [main-end]
    minmax(15px, 1fr) [full-end];
  &#home {
    @media screen and (min-width: $desktop) {
      grid-template-rows: 133px repeat(2, auto);
    }
  }
  > * {
    grid-column: main;
    grid-row: 2/3;
  }
  header {
    grid-row: 1/2;
  }
  footer {
    grid-row: 3/4;
  }
  header,
  footer {
    grid-column: full;
  }
  // General social nav layout
  nav.social {
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-self: end;
    width: auto;
    a svg {
      fill: $background;
    }
  }
  // Main takes up remaining viewport
  main.list {
    grid-gap: 20px 0;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    min-height: calc(100vh - 173px);
    @media screen and (max-width: $desktop) {
      min-height: calc(100vh - 153px);
    }
    @media screen and (max-width: $tablet) {
      min-height: calc(100vh - 194px);
    }
    @media screen and (max-width: 560px) {
      min-height: calc(100vh - 220px);
    }
    @media screen and (max-width: 346px) {
      min-height: calc(100vh - 298px);
    }
    @media screen and (max-width: $phone) {
      grid-column: full;
    }
    // Feed item layout
    article.post {
      grid-gap: 15px 0;
      grid-template-columns:
        [fill-start] minmax(1em, 1fr)
        [half-start] minmax(0, $phone) [half-end]
        minmax(1em, 1fr) [fill-end];
      grid-template-rows: repeat(4, min-content);
      > * {
        grid-column: fill;
        @media screen and (max-width: $phone) {
          grid-column: half;
        }
      }
      .title {
        font-size: 32px;
        grid-row: 1/2;
        margin: 0;
        a {
          @extend %no-decoration;
        }
      }
      section.info {
        grid-row: 2/3;
        align-items: center;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 30px;
        div.publish {
          align-items: center;
          grid-column: 1/2;
          grid-gap: 0 5px;
          grid-template-columns: auto min-content auto;
          grid-template-rows: auto;
          justify-self: start;
        }
        p.tags {
          grid-column: 2/3;
          justify-self: end;
        }
        time, p {
          grid-row: 1/2;
        }
        p {
          margin: 0;
        }
      }
      img.image,
      section.content {
        @media screen and (max-width: $phone) {
          grid-column: fill;
        }
      }
      img.image {
        grid-row: 3/4;
      }
      section.content {
        grid-row: 4/5;
        grid-template-columns:
          [bleed-start] minmax(1em, 1fr)
          [cent-start] minmax(0, 700px) [cent-end]
          minmax(1em, 1fr) [bleed-end];
        grid-auto-rows: auto;
        > * {
          grid-column: cent;
/*           @media screen and (min-width: 416px) {
            grid-column: bleed;
          } */
        }
        figure {
          background: linear-gradient(to top, $white, lighten($link, 10%));
          grid-column: bleed;
        }
      }
    }
  }
}