// Reset
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
body {
  background-color: $background;
  color: $text;
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  @extend %margin-center;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  /* Fallback */
  padding: 0 10px;
  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
a,
article h2 a {
  color: $text;
}
a.back-home,
article,
footer,
header,
main,
nav.paginate {
  padding: 15px;
}
a:active,
a:hover,
article h2 a:active,
article h2 a:hover {
	color: $link;
	text-decoration: underline;
}
a svg {
	fill: $text;
}
a:active svg,
a:hover svg {
	fill: $link;
}
a.meta,
hr,
p.content a.more,
.meta {
  color: $meta;
}
a.meta:active,
a.meta:hover {
	color: $accent;
}
article {
  a {
    color: $link;
  }
  a:active,
  a:hover {
    color: $accent;
  }
}
article p {
  line-height: 27px;
}
article,
main,
nav.paginate {
  @extend %margin-center;
  max-width: 700px;
  width: 100%;
}
blockquote {
  border-left: 1px solid $link;
  margin: 0 0 15px 0;
  padding-left: 15px;
}
figure {
  background-color: $text;
  color: $background;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 21px;
}
figure,
h1, h2, h3, h4,
nav > *,
p {
  margin: 0;
}
figcaption p {
  padding: 5px;
}
footer,
header,
nav {
  @extend %flex;
}
header {
	text-transform: uppercase;
}
header,
h1, h2, h3, h4 {
	font-weight: 600;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}
h2, h3, h4 {
	margin-top: 10px;
}
img, 
svg {
	height: auto;
	width: 100%;
}
li {
  margin-bottom: 5px;
}
nav {
  @extend %vertical-center;
  justify-content: space-between;
  a svg {
    height: 55px;
    width: 55px;
  }
}
ol,
ul {
	padding-left: 30px;
}
ol ul {
	padding-left: 20px;
}