// Colors
$accent: #000;
$background: #FCFBFB;
$link: #2D51A3;
$meta: #949393;
$text: #414142;
$white: #fff;

// Shadows
$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

// Media Sizes
$desktop: 1024px;
$tablet: 768px;
$phone: 415px;