{{ define "main" }}
  {{ partial "header.html" . }}
  <main class="list single-list">
    <article class="post{{ if ne .Section "articles" }} meta-post{{ end }}">
      <h1 class="title">{{ .Title }}</h1>
      {{ if .Params.showthedate }}
      <section class="author meta">
        <p class="meta">by {{ .Params.author }}</p>
      </section>
      {{ end }}
      {{ if .Params.slideshow }}
        {{ partial "swiperPar.html" . }}
      {{ else if .Params.image }}
        <figure class="hero-image">
          {{ $imgPath := .Params.image }}
          {{ $imgThumb := resources.Get $imgPath | fingerprint }}
          <img src="{{ $imgThumb.Permalink }}" class="image">
          {{ if .Params.caption }}
            <figcaption>{{ .Params.caption }}</figcaption>
          {{ end }}
        </figure>
      {{ end }}
      <section class="content">
        {{ .Content }}
        {{ if eq .Section "articles" }}
          {{ partial "share-button.html" . }}
        {{ end }}
      </section>
    </article>
  </main>
   {{ partial "single-pagination.html" . }}
  {{ partial "footer.html" . }}
{{ end }}