{{ define "main" }}
  {{ partial "header.html" . }}
  <main class="list">
    <article class="post">
      <h1 class="title">{{ .Title }}</h1>
			{{ if .Params.showthedate }}
			<section class="author meta">
				<p class="meta">by {{ .Params.author }}</p>
			</section>
			{{ end }}
      <figure class="hero-image">
        {{ $imgPath := .Params.image }}
        {{ $imgThumb := resources.Get $imgPath | fingerprint }}
        <img src="{{ $imgThumb.Permalink }}" class="image">
				<figcaption>Credit to Juan V</figcaption>
      </figure>
      <section class="content">{{ .Content }}</section>
      {{ partial "article-meta.html" . }}
			<div class="fb-share-button" data-href="https://deluxely.co/" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdeluxely.co%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
			<hr>
			{{ partial "paginate-single.html" . }}
    </article>
  </main>
  {{ partial "footer.html" . }}
{{ end }}
