/* Desktop Grid
+------------+-----+-------------+
|#nav        |     |      .social|
+------------+-----+-------------+
|            |#logo|             |
+------------+-----+-------------+
*/

/* Mobile and Article Grid 
+------------+-----+-------------+
|#hamburger  |#logo|      .social|
+------------+-----+-------------+
|#menu       |     |             |
+------------+-----+-------------+
*/

// Header
header {
  @extend %grid;
  @extend %content-center;
  @extend %items-center;
  grid-gap: 20px 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 27px auto;
  padding: 20px 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  @media print {
    display: none;
  }
  div.header-bg {
    box-shadow: $box-shadow;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 4;
  }
  // Hamburger Styling
  label#hamburger {
    @extend %grid;
    @extend %margin-horizontal-center;
    @extend %items-center;
    flex-direction: column;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 9px);
    height: auto;
    justify-content: center;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 30px;
    div {
      background-color: $link;
      border-radius: 5px;
      height: 3px;
      margin: 3px 0;
      position: relative;
      transition: all 0.15s ease-in-out;
      width: 30px;
    }
  }
  // Hamburger Animation
  input#toggle {
    @extend %none;
    &:checked + label#hamburger div.top {
      transform: rotate(-45deg);
      margin: 20px 0 0 13px;
    }
    &:checked + label#hamburger div.meat {
      transform: rotate(45deg);
      margin: 2px 13px 0 0;
    }
    &:checked + label#hamburger div.bottom {
      transform: scale(0);
    }
    &:checked + label#hamburger div {
      width: 20px;
    }
    &:checked ~ nav#menu {
      height: 117px;
      padding-bottom: 20px;
      padding-top: 20px;
      @media screen and (max-width: $tablet) {
        height: 155px;
      }
    }
  }
  // Menu
  nav#menu {
    @extend %grid;
    background-color: $background;
    box-shadow: $box-shadow;
    border-radius: 0 0 5px 0;
    clear: both;
    grid-column: 1/2;
    grid-row: 2/3;
    grid-gap: 20px 0;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, min-content);
    height: 0px;
    justify-self: start;
    margin: 0;
    overflow: hidden;
    padding: 0 20px;
    transition: all 0.15s ease;
    width: auto;
    z-index: 3;
    @media screen and (min-width: $tablet) {
      grid-template-rows: auto;
    }
    a {
      @extend %no-decoration;
      font-size: 15px;
    }
    nav.social {
      @extend %none;
      grid-column: 1/2;
      grid-row: 1/2;
      justify-self: start;
      @media screen and (max-width: $tablet) {
        display: grid;
      }
      a svg {
        fill: $text;
        width: 15px;
      }
    }
    div.categories {
      grid-gap: 10px 0;
      grid-template-columns: auto;
      grid-template-rows: repeat(3, 19px);
    }
    div.info {
      @extend %none;
    }
  }
  a#logo {
    @extend %no-decoration;
    font-size: 30px;
    grid-column: 2/3;
    justify-self: center;
    margin-top: 5px;
    svg#logo {
      height: 50px;
      width: auto;
      @media screen and (max-width: $phone) {
        height: 35px;
      }
    }
    img {
      width: 200px;
    }
  }
  a#logo,
  nav.social {
    grid-row: 1/2;
  }
  a#logo,
  label#hamburger,
  nav.social {
    z-index: 5;
  }
  nav.social {
    grid-column: 3/4;
    margin-right: 20px;
    @media screen and (max-width: $tablet) {
      display: none;
    }
    a svg {
      fill: $link;
      width: 15px;
    }
  }
}
body#home header {
  @media screen and (min-width: $desktop) {
    grid-template-rows: repeat(2, auto);
    div.header-bg,
    label#hamburger {
      display: none;
    }
    nav#menu {
      background-color: unset;
      box-shadow: unset;
      border-radius: 0;
      grid-column: 1/4;
      grid-gap: 0 20px;
      grid-template-columns: auto;
      grid-template-rows: auto;
      height: auto;
      margin: 0 auto;
      div.categories {
        grid-gap: 0 10px;
        grid-template-columns: repeat(3, min-content);
        grid-template-rows: auto !important;
        a {
          color: $link;
        }
      }
      a#logo {
        color: $link;
        margin: auto 0;
      }
    }
  }
}
