<div id="slider" class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      {{ $caption := .Params.caption }}
      {{ range .Params.slideshow }}
        {{ $slideImg := (.) }}
        {{ $imgItem := resources.Get (printf "%s%s" "img/" $slideImg) | fingerprint }}
        <li class="glide__slide">
					<figure>
						<img data-src="{{ $imgItem.Permalink }}" class="lazy">
  						<figcaption>{{ $caption }}</figcaption>
					</figure>
        </li>
      {{ end }}
    </ul>
  </div>
  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
      <svg width="20" height="35" viewBox="0 0 52 90" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
          <g transform="matrix(1.85805,0,0,2.50864,-20.4639,-75.4147)">
              <path d="M39,31.662C39,31.026 38.494,30.45 37.712,30.196C36.929,29.941 36.019,30.056 35.392,30.488C29.09,34.834 16.308,43.65 11.702,46.826C11.263,47.129 11.014,47.554 11.014,48C11.014,48.446 11.263,48.871 11.702,49.174C16.308,52.35 29.09,61.166 35.392,65.512C36.019,65.944 36.929,66.059 37.712,65.804C38.494,65.55 39,64.974 39,64.338C39,60.74 36.852,53.913 36.852,48.628C36.852,43.182 39,35.676 39,31.662Z" style="fill:#2d51a3;"/>
          </g>
      </svg>
    </button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
      <svg width="20" height="35" viewBox="0 0 52 90" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
          <g transform="matrix(-1.85805,0,-0,2.50864,72.4639,-75.4147)">
              <path d="M39,31.662C39,31.026 38.494,30.45 37.712,30.196C36.929,29.941 36.019,30.056 35.392,30.488C29.09,34.834 16.308,43.65 11.702,46.826C11.263,47.129 11.014,47.554 11.014,48C11.014,48.446 11.263,48.871 11.702,49.174C16.308,52.35 29.09,61.166 35.392,65.512C36.019,65.944 36.929,66.059 37.712,65.804C38.494,65.55 39,64.974 39,64.338C39,60.74 36.852,53.913 36.852,48.628C36.852,43.182 39,35.676 39,31.662Z" style="fill:#2d51a3;"/>
          </g>
      </svg>
    </button>
  </div>
  <div class="glide__bullets" data-glide-el="controls[nav]">
    <button class="glide__bullet" data-glide-dir="=0"></button>
    <button class="glide__bullet" data-glide-dir="=1"></button>
    <button class="glide__bullet" data-glide-dir="=2"></button>
  </div>
</div>
