<nav id="menu" class="menu-nav">
  {{ partial "social.html" . }}
  <div class="categories">
    <a class="nav-item" href="{{ .Site.BaseURL }}/shelter">Shelter</a>
    <a class="nav-item" href="{{ .Site.BaseURL }}/vehicles">Vehicles</a>
    <a class="nav-item" href="{{ .Site.BaseURL }}/gear">Gear</a>
    <a class="nav-item" href="{{ .Site.BaseURL }}/style">Style</a>
    <a class="nav-item" href="{{ .Site.BaseURL }}/about">About</a>
  </div>
  <div class="info">
    <a class="nav-item" href="{{ .Site.BaseURL }}/privacypolicy">Privacy Policy</a>
    <a class="nav-item" href="{{ .Site.BaseURL }}/cookiepolicy">Cookie Policy</a>
    <a class="nav-item" href="{{ .Site.BaseURL }}/terms">Terms of Use</a>
  </div>
</nav>