<ul class="rec-list {{ if .IsHome }}home{{ end }}">
  <li class="rec-list__item">
    {{ partial "article-ad.html" . }}
  </li>
  <li class="rec-list__item">
    {{ partial "article-ad.html" . }}
  </li>
  <li class="rec-list__item sticky">
    {{ partial "article-ad.html" . }}
  </li>
  {{ $section := ($.Site.GetPage "section" "articles").Pages }}
  {{ $randomPosts := shuffle $section | first 4 }}
  {{ $.Scratch.Set "artCount" 0 }}
  {{ range $randomPosts }}
  {{ $.Scratch.Set "artCount" (add ($.Scratch.Get "artCount") 1) }}
  <li class="rec-list__item article article-{{$.Scratch.Get "artCount"}}">
    <article>
      <figure>
        {{ $imgPath := .Params.image }}
        {{ $imgThumb := resources.Get $imgPath | fingerprint }}
        <img data-src="{{ $imgThumb.Permalink }}" class="lazy">
      </figure>
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    </article>
  </li>
  {{ end }}
</ul>