{{ if ne .IsHome true }}
  {{ $infiniteScroll := resources.Get "js/infinite-scroll.js" }}
  {{ $lazyScript := resources.Get "js/lazy-loading.js" }}
  {{ $swiper := resources.Get "js/swiper.js" }}
  {{ $js := slice $infiniteScroll $lazyScript $swiper | resources.Concat "js/ils-bundle.js" | minify | fingerprint }}
  <script src="{{ $js.Permalink }}"></script>
  <script>
    var myLazyLoad = new LazyLoad({
      elements_selector: ".lazy",
      threshold: 100,
      class_loading: "loading",
      class_error: "error"
    });
    myLazyLoad.update();
  </script>
  <script>
    var mySwiper = new Swiper ('.swiper-container', {
      slidesPerView: 1,
      loop: true,
      lazy: true,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false
      },
      pagination: {
        el: '.swiper-pagination',
        dynamicBullets: true,
        clickable: true
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }
    });
  </script>
  <script>
    var elem = document.querySelector('.single-list');
    var infScroll = new InfiniteScroll(elem, {
      path: '.article__next',
      append: '.post',
      history: 'push',
      hideNav: '.pagination'
    });
    var nextURL;
    function updateNextURL( doc ) {
      nextURL = document.querySelector('.article__next').href;
    }
    updateNextURL( document );
    var updateURL = new InfiniteScroll(elem, {
       path: function() {
        return nextURL
      },
    });
    updateURL.on( 'load.infiniteScroll', function( event, response ) {
      updateNextURL( response );
    });
  </script>
{{ else }}
  {{ $infiniteScroll := resources.Get "js/infinite-scroll.js" }}
  {{ $lazyScript := resources.Get "js/lazy-loading.js" }}
  {{ $js := slice $lazyScript $infiniteScroll | resources.Concat "js/il-bundle.js" | minify | fingerprint }}
  <script src="{{ $js.Permalink }}"></script>
  <script>
    var myLazyLoad = new LazyLoad({
      elements_selector: ".lazy",
      threshold: 100,
      class_loading: "loading",
      class_error: "error"
    });
    myLazyLoad.update();
  </script>
{{ end }}