{{ if ne .IsHome true }}
  {{ $lazyScript := resources.Get "js/lazy-loading.js" }}
  {{ $glide := resources.Get "js/glide.js" }}
  {{ $js := slice $lazyScript $glide | resources.Concat "js/bundle.js" | minify | fingerprint }}
  <script src="{{ $js.Permalink }}"></script>
  <script>
    var myLazyLoad = new LazyLoad({
      elements_selector: ".lazy",
      threshold: 200,
			class_loading: "loading",
			class_error: "error"
    });
  </script>
  <script>
    var input = document.querySelector('#slider')

    var glide = new Glide('#slider', {
      type: 'carousel',
      startAt: 0,
      perView: 1,
      focusAt: 'center',
      autoplay: 3000,
      hoverpause: true,
      keyboard: true
    })

    input.addEventListener('input', function (event) {
      glide.update({
        startAt: event.target.value
      })
    })

    glide.mount()
  </script>
{{ else }}
  {{ $infiniteScroll := resources.Get "js/infinite-scroll.js" }}
  {{ $lazyScript := resources.Get "js/lazy-loading.js" }}
  {{ $js := slice $lazyScript $infiniteScroll | resources.Concat "js/bundle.js" | minify | fingerprint }}
  <script src="{{ $js.Permalink }}"></script>
  <script>
    var myLazyLoad = new LazyLoad({
      elements_selector: ".lazy",
      threshold: 200,
			class_loading: "loading",
			class_error: "error"
    });
  </script>
{{ end }}
