<!-- Social Icon Links -->
<nav class="social">
  <!-- Twitter icon and link -->
  {{with .Site.Params.social}}
  <a href="https://www.twitter.com/{{.}}" target="_blank" rel="noopener" title="">
    <svg width="100%" height="100%" viewBox="0 0 200 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      xml:space="preserve" xmlns:serif="http://www.serif.com/" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
      stroke-miterlimit="1.41421">
    </svg>
  </a>
  
  <!-- Github icon and link -->
  <a href="https://www.instagram.com/{{.}}" target="_blank" rel="noopener" title="">
    <svg width="100%" height="100%" viewBox="0 0 200 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      xml:space="preserve" xmlns:serif="http://www.serif.com/" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round"
      stroke-miterlimit="1.41421">
    </svg>
  </a>
  {{end}}
</nav>