{{ define "main" }}
{{ partial "header.html" . }}
  <main class="list">
    <section class="articles" data-infinite-scroll='{ "path": ".pagination__next", "append": ".post", "hideNav": ".pagination", "history": "replace" }'>
      {{ $paginator  := .Paginate (where .Data.Pages "Type" "home" ) 5 }}
      {{ range $paginator.Pages }}
        {{ .Render "summary" }}
      {{ end }}
    </section>
    {{ partial "recommended.html" . }}
  </main>
  {{ partial "paginator.html" . }}
{{ partial "footer.html" . }}
{{ end }}