<div id="slider" class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      {{- range (seq 0 (sub (len .Params) 1) ) }}
        {{ $slideItem := resources.Get (print "img/" ($.Get .)) | fingerprint }}
        <li class="glide__slide">
	  <figure>
  	    <img data-src="{{ printf `%s` $slideItem.Permalink }}" class="lazy">
	    <figcaption>Credit to Juan V</figcaption>
	  </figure>
        </li>
      {{- end }}
    </ul>
  </div>
  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
      <svg width="100%" height="100%" viewBox="0 0 54 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
        <g transform="matrix(-1.07758,0,-0,1.07758,53.7669,-0.215784)">
            <path d="M5.602,92.04C4.961,92.68 4.16,93.001 3.281,93.001C2.398,93.001 1.602,92.68 0.96,92.04C-0.32,90.759 -0.32,88.68 0.96,87.399L41.762,46.598L0.96,5.802C-0.32,4.52 -0.32,2.438 0.96,1.161C2.238,-0.12 4.32,-0.12 5.602,1.161L48.719,44.278C50,45.559 50,47.641 48.719,48.919L5.602,92.04Z" style="fill:#2d51a3;fill-rule:nonzero;"/>
        </g>
      </svg>
    </button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
      <svg width="100%" height="100%" viewBox="0 0 54 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
        <g transform="matrix(1.07758,0,0,1.07758,0.23311,-0.215784)">
            <path d="M5.602,92.04C4.961,92.68 4.16,93.001 3.281,93.001C2.398,93.001 1.602,92.68 0.96,92.04C-0.32,90.759 -0.32,88.68 0.96,87.399L41.762,46.598L0.96,5.802C-0.32,4.52 -0.32,2.438 0.96,1.161C2.238,-0.12 4.32,-0.12 5.602,1.161L48.719,44.278C50,45.559 50,47.641 48.719,48.919L5.602,92.04Z" style="fill:#2d51a3;fill-rule:nonzero;"/>
        </g>
      </svg>
    </button>
  </div>
  <div class="glide__bullets" data-glide-el="controls[nav]">
    <button class="glide__bullet" data-glide-dir="=0"></button>
    <button class="glide__bullet" data-glide-dir="=1"></button>
    <button class="glide__bullet" data-glide-dir="=2"></button>
  </div>
</div>
